header {
      text-align: center;
    }
    section.figure {
      text-align: center;
    }
    section.body {
      text-align: center;
    }
    section.form {
      text-align: left;
    }